# Entorno virtual
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Logs
*.log

# Archivos de IDE
.vscode/
.idea/

# Archivos temporales
*.tmp

# Modelos descargados (muy importante con Sentence Transformers)
.cache/